* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background:blue;
  }
  
  .wrapper {
    width: 90%;
    margin: auto;
    display: flex;
  }
  
  .panel {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 20px;
    padding: 25px;
    border-radius: 10px;
    background:gold;
  }
  
  .panel > * {
    flex: 1;
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  
  .panel > *:last-child {
    margin-bottom: 0;
  }
  
  .panel:last-child {
    margin-right: 0;
  }
  
  .title h1 {
    color:black;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
  }
  
  .list {
    list-style: none;
  }
  
  .item {
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
  
  .price {
    font-size: 40px;
  }
  
  .footer {
    align-self: flex-end;
  }
  
  .button {
    padding: 15px 60px;
    border: none;
    border-radius: 10px;
    background:whitesmoke;
    color:black;
    font-size: 16px;
  }